/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.stage {
  margin: 0 -10px;
  @include transform-style(preserve-3d);
  @include perspective(700px);
}
.box {
  background: red;
  @include backface-visibility(hidden);
  @include leader(8, 64px);
  @include adjust-font-size-to(64px);
  text-align: center;
  @include transition(.07s linear);
}
